<!DOCTYPE html>

<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Eclipse</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="~/Content/default.css" rel="stylesheet" />
</head>
<body>
    @RenderSection("Header", false)
    <div id="page">
        <!-- end #menu -->
        @RenderBody()
        <!-- end #content -->
        <div id="sidebar">

        </div>
        <!-- end #sidebar -->
        <div id="extra" style="clear: both;">&nbsp;</div>
    </div>
    <!-- end #page -->
    @Html.Partial("~/Views/Shared/Footer.cshtml")
</body>
</html>

