@{
    Layout = null;
}
@model Eclipse.Models.CommentModel
@{
    Eclipse.Models.CommentItemModel comment = null;
}
<div class="boxed">
    <div class="title">
        <h2>Recent Comments</h2>
    </div>
    <div class="content">
        <ul class="list1">
            @for (int i = 0; i < Model.Comments.Count; i++)
            {
                 comment = Model.Comments.ElementAt(i);
                <li><a href="@comment.Text">@comment.Text</a></li>
            }
        </ul>
    </div>
</div>
