@{
    Layout = null;
}
@model Eclipse.Models.RecentPostsModel
@{
    Eclipse.Models.RecentPostsItem post = null;
}
<div class="boxed">
    <div class="title">
        <h2>Recent Posts</h2>
    </div>
    <div class="content">
        <ul class="list1">
            @for (int i = 0; i < Model.RecentPostItems.Count; i++)
            {
                post = Model.RecentPostItems.ElementAt(i);
                <li><a href="@post.PostUri">@post.Title</a></li>
            }
        </ul>
    </div>
</div>
