@{
    Layout = null;
}
@model Eclipse.Models.LoginModel

<div id="login" class="boxed">
    <div class="title">
        <h2>Client Account</h2>
    </div>
    <div class="content">
        <form id="form1" method="post" action="#">
            <fieldset>
                <legend>Sign-In</legend>
                <label for="inputtext1">Client ID:</label>
                <input id="inputtext1" type="text" name="inputtext1" value="" />
                <label for="inputtext2">Password:</label>
                <input id="inputtext2" type="password" name="inputtext2" value="" />
                <input id="inputsubmit1" type="submit" name="inputsubmit1" value="Sign In" />
                <p><a href="#">Forgot your password?</a></p>
            </fieldset>
        </form>
    </div>
</div>
