@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@section Header{
    <div id="logo">
        <h1><a href="#">Eclipse</a></h1>
        <h2><a href="http://www.freecsstemplates.org/">By Free CSS Templates</a></h2>
    </div>
    <div id="menu">
        <ul>
            <li class="active first"><a href="#" title="">Home</a></li>
            <li><a href="#" title="">Blogs</a></li>
            <li><a href="#" title="">Photos</a></li>
            <li><a href="#" title="">About</a></li>
            <li><a href="#" title="">Contact</a></li>
        </ul>
    </div>
}

@model Eclipse.Models.LoginModel

<div id="content" class="content">
    <div id="login" class="boxed">
        <div class="title">
            <h2>Client Account</h2>
        </div>
            <form id="form1" method="post" action="@Url.Action("Index", "Login")">
                <fieldset>
                    <legend>Sign-In</legend>
                    @Html.TextBoxFor(m => m.Name, new { placeholder = "Login:", @class = "textbox", id = "inputtext1" })
                    @Html.TextBoxFor(m => m.Password, new { placeholder = "Password:", @class = "textbox", id = "inputtext2" })

                    <input id="inputsubmit1" type="submit" name="inputsubmit1" value="Sign In" /> 
                </fieldset>
            </form>
    </div>
 </div>
